body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.check-box {
  display: flex;
  justify-content: space-around;
}
.btn-submit{
  height: 2rem;
}
.dept-form{
  margin-top: 2rem;
}
label{
   margin-bottom: 0;
}

.active{
  color:#fcfcfc;
 }